SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DATABASE_URL=postgres://user:password@localhost:5432/subatomic

# use `openssl rand -hex 32` to generate
JWT_SECRET=your_super_secret_jwt_key_here

# repos dir
STORAGE_DIR=./test/storage
CACHE_DIR=./test/cache
# limit upload size to 5 GiB; for reference largest package on fedora & terra is voicevox (3064081088)
BODY_LIMIT=5368709120
