SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DATABASE_URL=postgres://user:password@localhost:5432/subatomic

# use `openssl rand -hex 32` to generate
JWT_SECRET=your_super_secret_jwt_key_here

STORAGE_DIRECTORY=./storage
SUBATOMIC_APPSTREAM_DIR=./storage/appstream
